/game_asset_images/*
/runs/
/.model
/dataset_synthetic/
/game_asset_urls/*
/gameplay_sources/gameplay_footage
/dataset/*
/test_output/*
/recorded_gameplay_asset_images/*
__pycache__/
*.pyc
/detect_output/
